@model OrderItem;
@{
    ViewData["Title"] = "Order";
}

<h1>Order</h1>

<form asp-action="Order" method="post">
    <label asp-for="Processor">Select Processor</label>
    <select asp-for="Processor">
        <option value="none">none</option>
        <option value="i3">Intel i3</option>
        <option value="i5">i5</option>
        <option value="i7">i7</option>
        <option value="i9">i9</option>
    </select>
    <br />
    <label asp-for="RAM">Select RAM</label>
    <input type="number" min="4" max="32" asp-for="RAM" /><br />

    <label asp-for="Speed">Enter Speed</label>
    <input asp-for="Speed" /><br />

    <label asp-for="HDSize">Enter HD size in TB</label>
    <input asp-for="HDSize" /><br />

    <label asp-for="Email">Your email</label>
    <input asp-for="Email" /><br />

    <button type="submit">Order the computer</button>
</form>

