
@{
    ViewData["Title"] = "TheAds";
    Layout = "~/Views/Shared/_adlayout.cshtml";
}

<h1>TheAds</h1>
fdsfdsfa
dsfasdff
sdfdsfasf
dsfsdfsda
sdfafdsaf
asdfsadfdsaf
sadfsafsdaf
asdfsdafasdf
sdafsdafsadf
sdfasfasdf
sdafasfasdf
asdfsadff
asdfsdafa
sadfdsaf
asddfdsaf
<br />
sfas
sdafdsaf
sadfsdaf
sadfsaff
asdfadfd

